.App {
  text-align: center;
}

.appTitle {
  margin-top: 0;
  padding: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.icon{
  padding-right: 0.5em;
}